<section id="clock" data-horizontal="{{ clock.position.horizontal }}" data-vertical="{{ clock.position.vertical }}">
    <p class="date" data-format="{{ clock.format.date }}"></p>
    <time class="clock" data-format="{{ clock.format.time }}"></time>
</section>
